
#getstarted{
    background-color: orangered;
    /* background-color: rgb(102, 20, 179); */
    color: white;
    width: 190px;
    font-size: 20px;
    border-radius: 50px;
    border: none;
    margin-left: 0px;
    height: 55px;
    transition: ease-in-out 0.5s;
    cursor: pointer;
    font-family: 'Jost', sans-serif;
}
#getstarted:hover{
    border: 3px solid rgb(255, 255, 255);
    background-color: transparent;
    color: rgb(255, 255, 255);
}
#getstarted:focus {
    outline: none;
}



/*  */
#knowus{
     border: 3px solid rgb(255, 255, 255);
     background-color: transparent;
     color: rgb(255, 255, 255);
    width: 190px;
    font-size: 22px;
    border-radius: 50px;
    margin-left: 100px;
    margin-top: -80px;
    height: 55px;
    transition: ease-in-out 0.5s;
    cursor: pointer;
    font-family: 'Jost', sans-serif;
}
#knowus:hover{
   background-color: orangered;
   /* background-color: rgb(102, 20, 179); */
   color: white;
   border: none;
}
#knowus:focus{
    outline: none;
}

/* Catalog buttons */
.btn-outline-secondary{
    border-color: orangered;
}
.btn-outline-secondary:not(:disabled):not(.disabled).active{
    background-color: orangered;
}
.btn-outline-secondary{
    border-color: orangered;
    background-color: orangered;
    color: rgb(255, 255, 255);
}
.btn-primary{
    background-color: orangered;
    border: none;
}
.btn-primary:hover{
    background-color: rgb(0, 0, 0);
}
.btn-primary:focus{
    outline: none;
}
.btn-secondary{
    background-color: rgb(0, 0, 0);
    border: none;
}
.btn-secondary:hover {
    background-color: orangered;
}
.btn-secondary:focus {
    outline: none;
}
/* Buy now */
#buynow{
    background-color: orangered;
    width: 120px;
    border-radius: 50px;
    border-style: none;
    color: white;
    cursor: pointer;
    transition: ease-in-out 0.5s;
    height: 40px;
}
#buynow:hover{
    background-color: rgb(0, 0, 0);
  }
#buynow:focus{
 outline: none;
}
